S3method(plot,expression)
S3method(print,latextoken)
S3method(toString,latextoken)
export(latex2exp)
export(TeX)
export(latex2exp_examples)
export(latex2exp_supported)
importFrom(magrittr, "%>%")
importFrom(stringr, str_c)
importFrom(stringr, str_detect)
importFrom(stringr, str_replace_all)
importFrom(stringr, str_replace)
importFrom(stringr, str_split)
importFrom(graphics, par)
importFrom(graphics, plot.new)
importFrom(graphics, plot.window)
importFrom(graphics, text)
importFrom(graphics, plot)
